@media (max-width: 1300px) {
  .header {
    &-nav {
      .nav {
        li {
          padding: 0 5px; 
          font-size: 12px;
          border: none;
          &:first-child {
            min-width: 100px;
            padding: 0;
            span {
              font-size: 13px;
              margin-right: 1px;
            }
          }
          &:last-child {
            min-width: 80px;
            font-size: 13px;
          }
        }
      }
    }
    &-middle {
      &-box {
        width: 35%;
      }
    }
    &-search {
      width: 45%;
    }
  }

  .header {
    .catalogs {
      .catalog-nav {
        &-right {
          padding-left: 16px;
          .catalog-nav-info {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
          }
        }
      }
    }
  }

  .main {
    .catalog {
      &-body {
        .product-filter {
          .catalog-product {
            grid-template-columns: repeat(3, 1fr);
            .product-card {
              &:nth-child(4n) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    .catalogs {
      .catalog-nav {
        &-right {
          padding-left: 16px;
          .catalog-nav-info {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
          }
        }
      }
    }
  }
  .main {
    .banner {
      &-item {
        &__text {
          font-size: 40px;
          line-height: 45px;
        }
      }
    }

    .catalog {
      .categories-box {
        &-head {
          margin-top: 23px;
          .categories-head-product {
            width: 32%;
            margin-right: 2%;
            &:nth-child(4n) {
              margin-right: 2%;
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
            &:nth-child(n+10) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    &-middle {
      &-box {
        width: auto;
      }
    }  
    &-logo {
      white-space: nowrap;
      img {
        width: 54px;
      }
    }
    &-search {
      width: 55%;
      margin: 0 15px;
    }
    .request-call {
      width: 26px;
      height: 26px;
      background: transparent;
      margin-right: 0;
      svg {
        display: block;
      }
      span {
        display: none;
      }
    }
    .basket-btn {
      margin: 0 16px;
      span {
        display: none;
      }
    }
    .to-come-btn {
      width: 20px;
      height: 20px;
      svg {
        display: block;
      }
      span {
        display: none;
      }
    }
  }

  .header {
    .catalogs {
      .catalog-nav {
        &-left {
          min-width: 280px;
          padding-right: 10px;
        }
      }
    }
  }
  .main {
    .product,
    .news {
      .container {
        padding: 0;
        padding-left: 20px;
      }
    }

    .categories {
      &-card {
        width: 23%;
        &:nth-child(5n) {
          margin-right: 2%;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(n+13) {
          display: none !important;
        }
      }
    }

    .offers {
      .container {
        padding: 0;
        padding-left: 20px;
      }
    }

    .blog {
      &-card {
        .title__text {
          margin-bottom: 32px;
        }
      }
      .container {
        padding: 0;
        padding-left: 20px;
      }
    }
    
    .about-company {
      &-box {
        margin-top: 40px;
      }
      &-logo {
        height: 264px;
        .logo {
          width: 215px;
        }
      }
    }
    .catalog {
      &-body {
        .product-filter {
          
          .filter {
            &-sort {
              .sort {
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }
                label svg {
                  margin-right: 0px;
                }
              }
            }
            &-grid {
              button {
                background: transparent;
                margin-right: 15px;
                &:last-child {
                  margin-right: 0;
                }
                svg {
                  path {
                    fill: #333333;
                  }
                }
              }
              button.active {
                svg {
                  path {
                    fill: #FF6600;
                  }
                }
              }
            }
          }
        }
        .product-types {
          display: none;
        }
      }
    }

    .product-page {
      .product {
        .product-body {
          .product-slider {
            width: 55%;
          }
          .product-info {
            width: 43%;
          }
          .product-info-right {
            width: 100%;
            margin-top: 24px;
          }
        }
      }
    }
  }

  .footer {
    padding: 55px 0 40px;
    &-item {
      width: 50%;
      &:first-child {
        margin-bottom: 24px;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:last-child {
        width: 100%;
        margin-top: 24px;
      }
    }
    &-nav {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


@media (max-width: 767px) {
  .headerTop {
    top: 0;
  }
  .header {
    .catalogs {
      .catalog-nav {
        &-left {
          min-width: 280px;
          padding-right: 10px;
        }
        &-right {
          padding-left: 16px;
          .catalog-nav-info {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 20px;
          }
        }
      }
    }
  }
  .main {
    .banner {
      &-item {
        height: 300px;
        .logo {
          width: 70px;
        }
        &__text {
          font-size: 30px;
          line-height: 35px;
          margin-top: 15px;
        }
      }
    }
    .categories {
      &-card {
        width: 32%;
        &:nth-child(5n) {
          margin-right: 2%;
        }
        &:nth-child(4n) {
          margin-right: 2%;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(n+10) {
          display: none !important;
        }
      }
    }
    .catalog {
      margin-top: 16px;
      .categories-box {
        &-head {
          .categories-head-product {
            width: 49%;
            margin-right: 0 !important;
            &:nth-child(n+9) {
              display: none;
            }
          }
        }
      }
      .catalog-banner {
        margin-top: 56px;
          height: 204px;
          .logo {
            width: 67px;
          }
          &__text {
            font-size: 20px;
            line-height: 27px;
          }
      }
    }
    .catalog {
      &-body {
        .product-filter {
          .catalog-product {
            grid-template-columns: repeat(2, 1fr);
            .product-card {
              &:nth-child(3n) {
                display: none;
              }
            }
          }
          
        }
      }
    }

    .product-page {
      .product {
        .product-head {
          margin-top: 24px;
        }
        .product-body {
          .product-slider {
            width: 100%;
          }
          .add-basket {
            margin: 24px 0;
          }
          .product-info {
            width: 100%;
          }
          .product-info-right {
            width: 100%;
            margin-top: 24px;
          }
        }
      }
      .description-tabs {
        &-head {
          overflow-x: scroll;
        }
      }
    }
  }
}


@media (max-width: 576px) {

  .main {
    .title__text {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 32px;
    }
    .banner {
      margin: 8px 0 56px;
      &-item {
        height: 204px;
        .logo {
          width: 67px;
        }
        &__text {
          font-size: 20px;
          line-height: 27px;
        }
      }
    }

    .product,
    .news {
      &-card {
        .add-basket {
          width: 100%;
        }
        .amount {
          display: none !important;
        }
      }
    }

    
    .categories {
      margin: 56px 0;
      &-box {
        justify-content: space-between;
      }
      &-card {
        width: 48%;
        margin-right: 0 !important;
        margin-bottom: 24px;
        &:nth-child(n+7) {
          display: none !important;
        }
        &__text {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }

    .special {
      .container {
        padding: 0;
        padding-left: 20px;
      }
      &-card {
        padding: 6px;
        .add-basket {
          width: 100%;
        }
        .amount {
          display: none !important;
        }
        .hashtag {
          span:nth-child(2) {
            display: none;
          }
        }
        .present {
          display: none;
        }
        .delivery {
          display: inline-block;
        }
      }
    }

    .news {
      margin: 56px 0;
    }

    .offers {
      &-head {
        &-card {
          height: 439px;
          color: #fff;
          padding: 29px 24px;
          &__img {
            object-position: left;
          }
          &__title {
            font-size: 20px;
            line-height: 27px;
            width: 100%;
          }
          &__text {
            margin-top: 8px;
            width: 100%;
          }
        }
      }
      .row:last-child {
        margin-top: 32px;
      }
    }

    .blog {
      margin: 56px 0;
    }

    .map {
      &-box {
        position: static;
      }
      &-info {
        display: none;
        position: fixed;
        width: 100%;
        height: 94%;
        top: 6%;
        z-index: 55;
        &-item {
          max-height: 100%;
        }
      }
      .showMapInfo {
        display: block;
      }
    }
    .catalog {
      margin-top: 16px;
      .categories-box {
        &-head {
          .categories-head-product {
            flex-direction: column;
            height: auto;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 16px;
          }
        }
      }
      &-body {
        .product-filter {
          .catalog-product {
            grid-column-gap: 12px;
            .product-card {
              padding: 0;
              &-img img {
                min-width: 100%;
                max-height: 153px;
              }
            }
          }
          .product_row {
            .product-card {
              display: flex;
              padding: 24px 0;
              &:nth-child(2n) {
                display: none;
              }
              &-item {
                flex-direction: column;
              }
              &-img img {
                min-width: 153px;
                max-height: 153px;
              }
              &-img {
                display: block;
                margin-right: 16px;
              }
              &-head {
                width: 100%;
                .product-card-img {
                  display: none;
                }
              }
              &__text {
                font-size: 14px;
                line-height: 21px;
                margin: 8px 0 16px;
              }
            }
          }
        }
      }
    }

    .product-page {
      .product {
        &-head {
          .product__name {
            font-size: 20px;
            line-height: 27px;
            margin-top: 8px;
          }
        }
        .product-body {
          margin: 0;
          .product-slider {
            margin-bottom: 40px;
          }
          .add-basket {
            margin: 24px 0;
          }
          .product-info {
            .materials {
              flex-wrap: nowrap !important;
              overflow-x: scroll;
              .material {
                white-space: nowrap;
              }
            }
          }
          .product-info-right {
            width: 100%;
            margin-top: 24px;
          }
        }
      }
      .description-tabs {
        &-head {
          overflow-x: scroll;
        }
      }
      .description-tabs {
      
        &-body {
          .description-tab .characteristics-box {
            width: 100%;
          }
          .description-tab .characteristics-photo {
            width: 100%;
          }
          .description-tab-box .description-tab-item {
            width: 100%;
          }
          .tab_1 {
            width: 100%;
          }
          .tab_3 {
            width: 100%;
          }
          .tab_4 {
            width: 100%;
          }
        }
      }
    }
  }

  .footer {
    &-item {
      width: 100%;
      &:first-child {
        margin-bottom: 24px;
      }
      &:nth-child(3) {
        width: 100%;
        margin-top: 8px;
        .footer-contact {
          display: flex;
          align-items: center;
          justify-content: space-between !important;
        }
      }
    }
  }
}
